.assetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.stockListContainer {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stockItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 8px;
  appearance: none; /* 기본 브라우저 스타일 제거 */
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.checkbox:checked {
  background-color: #28a745; /* 초록색 배경 */
  border-color: #28a745;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid white; /* 검은색 체크 표시 */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.ratioInput:disabled {
  background-color: #e9ecef;
}

.ratioInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.indicatorLabel {
  font-size: 16px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.ratioInput {
  width: 120px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.ratioInput:disabled {
  background-color: #e9ecef;
}

.ratioInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.applyButton {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #90ee90; /* 연한 초록색 */
  color: #191919;
  width: 100%;
}

.applyButton:hover {
  background-color: #76c776; /* hover 색상 */
}

.applyButton:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  height: 20px; /* 기본 높이 설정 */
}
