.dropdownContainer {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.arrowUp {
  transform: rotate(180deg);
}

.arrowDown {
  transform: rotate(0deg);
}

.dropdownMenu {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* 내용이 많아도 숨겨지도록 설정 */
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdownMenu.closed {
  max-height: 0;
  opacity: 0;
  padding: 0; /* 닫힌 상태에서 여백 제거 */
  display: none; /* 완전히 숨김 */
}

.dropdownMenu.open {
  max-height: 200px;
  opacity: 1;
  display: block; /* 열리도록 설정 */
}

.dropdownItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 16px;
}

.dropdownItem input {
  margin-right: 8px;
}
