.chartContainer {
  display: flex; /* y축 레이블과 차트를 나란히 배치 */
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: auto;
  width: 100%;
}

.chartContainer canvas {
  width: 100% !important; /* 가로 전체 차지 */
  height: auto; /* 세로 자동 조절 */
}

.yAxisTitle {
  writing-mode: vertical-lr; /* 텍스트를 수직으로 렌더링 */
  font-size: 14px; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵기 */
  margin-right: 20px; /* 그래프와 간격 조정 */
  color: #333; /* 텍스트 색상 */
}

.chartContent {
  flex: 1; /* 차트 영역 확장 */
  position: relative;
}

.chartToggleButton {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold; /* Font weight 설정 */
  color: #000; /* 텍스트 색상 */
  background-color: #9DF1B3; /* 새로운 배경색 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
  text-align: center;
}

.chartToggleButton:hover {
  background-color: #82c99b; /* Hover 시 어두운 녹색 */
}

.rangeSliderTrack {
  height: 8px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 4px;
  position: relative;
}

.rangeSliderThumb {
  height: 15px;
  width: 15px;
  background-color: #9DF1B3; /* 새로운 색상 */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rangeSliderThumb:hover {
  background-color: #82c99b; /* Hover 시 어두운 녹색 */
}

.rangeValue {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  font-weight: bold; /* Font weight 설정 */
}
