.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* 원하는 배경색 */
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio_title{
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
}

.button_container{
  display: flex;
  gap: 10px;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.1); /* 확대 효과 */
}
