.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #ffffff; /* 전체 배경 흰색 */
}

.chatBox {
  flex-grow: 1;
  height: 60vh;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9; /* 채팅박스 배경 연한 회색 */
  border-radius: 8px; /* 살짝 둥근 모서리 */
  border: 1px solid #eaeaea;
}

.message {
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 12px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.4;
  display: flex; /* 추가 */
}

/* 시스템 메시지 (왼쪽 정렬) */
.systemMessage {
  background-color: #f3f3f3;
  color: #555;
  align-self: flex-start;
  margin-right: auto; /* 왼쪽 정렬 */
}

/* 유저 메시지 (오른쪽 정렬) */
.userMessage {
  background-color: #e0f7fa;
  color: #333;
  align-self: flex-end;
  margin-left: auto; /* 오른쪽 정렬 */
}

.inputSection {
  display: flex;
  padding: 10px 0;
  background-color: #ffffff;
}

.inputField {
  flex-grow: 1;
  border: 1px solid #eaeaea;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  outline: none;
  background-color: #f9f9f9;
}

.sendButton {
  background-color: #9DF1B3;
  color: #191919;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 8px;
}

.sendButton:hover {
  background-color: #81d99f;
}
