.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.leftSection,
.middleSection,
.rightSection {
  width: 30%;
  height: 85vh;
}

.middleSection {
  margin: 0 1%;
}

.divider {
  width: 1px;
  background-color: #e1e1e1;
  height: 100%;
}

.leftSection {
  padding-right: 10px;
	margin-left: 40px;
  position : relative;
}

.middleSection {
  padding: 0 10px;
}

.rightSection {
  padding-left: 10px;
}

.miniGraph {
  position: absolute; /* leftSection 내부에서 절대 위치 지정 */
  top: 0; /* leftSection의 상단에 맞춤 */
  left: 100%; /* leftSection의 너비 바로 오른쪽에 위치 */
  margin-left: 10px; /* leftSection과의 간격 조정 */
  z-index: 1000; /* 다른 요소 위에 표시 */
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  width: 800px;
  height: 600px;
}
