.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}


.leftSection,
.middleSection,
.rightSection {
  width: 30%;
  height: 85vh;
}

.middleSection {
  margin: 0 1%;
}

.divider {
  width: 1px;
  background-color: #e1e1e1;
  height: 100%;
}

.leftSection {
  padding-right: 10px;
	margin-left: 40px;
}

.middleSection {
  padding: 0 10px;
}

.rightSection {
  padding-left: 10px;
}

.miniGraph{
  position: absolute;
  top: 20px; /* rightSection 내부에서 상단 여백 */
  left: 100%; /* rightSection 오른쪽 밖으로 배치 */
  z-index: 1000; /* 다른 요소 위에 표시 */
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  width: 800px;
  height: 600px;
}