.container {
  border: 1px solid #e1e1e1;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  max-width: 450px;
	margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.counts {
  margin-left: 5px;
  font-size: 14px;
  color: #6c757d;
}

.actions {
  display: flex;
  gap: 10px;
}

.action {
  font-size: 16px;
  color: #6c757d;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s ease; 
}

.action:hover {
  background-color: #f0f0f0; 
  color: #333; 
}

.scrollContainer {
  max-height: 200px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  margin-top: 10px;
  padding-right: 10px;
}

.itemsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.itemsList > div {
  margin-bottom: 10px;
}
