.container {
  border: 1px solid #e1e1e1;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  width: 100%;
	height: 80vh;
  position: relative; /* 로딩 컴포넌트 위치 조정을 위해 추가 */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  display: flex;
  align-items: center;
  position: relative;
}

.counts {
  position: absolute;
  bottom: 0;
  right: -30px;
  font-size: 14px;
  color: #6c757d;
}

.star {
  color: #ffc107;
  margin-right: 5px;
}

.actions {
  display: flex;
  gap: 15px;
}

.action {
  font-size: 16px;
  color: #6c757d;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.action:hover {
  background-color: #f0f0f0;
  color: #333;
}

.scrollContainer {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
  padding-right: 10px;
}

.itemsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.itemsList > div {
  margin-bottom: 10px;
}

.noItemsMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 16px;
  color: #6c757d;
  text-align: center;
}

/* 로딩 컨테이너 스타일 */
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* 중앙 배치를 위한 높이 설정 */
  font-size: 16px;
  color: #6c757d;
  text-align: center;
}
