.container{
	display: flex;
	flex-direction: row;
	padding: 10px;
	border: 1px solid #e1e1e1;
	width: 100%;
	max-width: 400px;
	margin: 10px 0;
	box-sizing: border-box;
	border-radius: 8px; /* 경계선에 둥근 모서리 추가 */
}

.logo img {
	width: 40px;
	height: 40px;
}

.wrapper{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.title_box{
	display: flex;
	margin-bottom: 8px;
}

.big_title{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin-right: 10px;
}

.small_title{
	font-size: 12px;
	color: #6C757D;
}

.price_info{
	display: flex;
	align-items: center;
}

.current_price{
	font-size: 20px;
	color: #212529;
	font-weight: bold;
	margin-right: 10px;
}

.price_change_box{
	display: flex;
	align-items: center;
}

.arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #0077d7;
	margin-left: 5px;
	vertical-align: middle;
}

.arrowDown {
	border-top: none;
	border-bottom: 7px solid #DC3545;
}

.arrowUp {
	border-top: 7px solid #0D6EFD;
}
