.identifierContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  font-weight: bold;
  width: 13vw;
}

.index {
  font-weight: bold;
  margin-right: 10px;
}

.infoContainer {
  flex: 1;
}

.companyName {
  font-size: 14px;
  color: #333;
}

.addButton {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  font-size: 20px;
  color: #ccc; /* 기본 색상 */
  cursor: pointer;
  transition: color 0.3s ease;
}

.addButton:hover {
  color: #555; /* 호버 시 약간 진한 회색 */
}

.addButton.added {
  color: #ffc107; /* 어두운 노란색 */
  
}
