.tableContainer {
  width: 95vw;
  overflow-x: auto; /* 수평 스크롤 */
  margin: 0 auto;
}

.dateContainer {
  text-align: right; /* 오른쪽 정렬 */
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #f8f9fa; /* 테이블 헤더 배경색과 일치 */
}

.headerRow {
  display: flex;
  width: max-content; /* 콘텐츠 크기에 따라 너비가 결정됨 */
  align-items: flex-start; /* 내용 위쪽 정렬 */
}

.headerRow,
.row {
  display: flex;
  width: max-content; /* 콘텐츠 크기에 따라 너비가 결정됨 */
}

.headerCell,
.cell {
  flex-shrink: 0;
  padding: 10px;
  text-align: center; /* 텍스트 중앙 정렬 */
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; /* 오른쪽 경계선 추가 */
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerCell {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  background-color: #f8f9fa;
  position: sticky; /* 헤더 고정 */
  top: 0;
  z-index: 1;
  white-space: normal; /* 텍스트 줄바꿈 허용 */
  word-wrap: break-word; /* 단어 단위로 줄바꿈 */
  height: auto; /* 높이 자동 조정 */
	white-space: nowrap;          /* 텍스트 줄바꿈 방지 */
  overflow: hidden;             /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis;      /* 말줄임표 표시 */
  width: 120px;                 /* 칼럼 너비 증가 (필요에 따라 조정) */
  position: relative;
}

.cell {
  font-size: 14px;
  color: #333;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  text-overflow: ellipsis; /* 너무 긴 텍스트는 말줄임 표시 */
}

.row:nth-child(even) {
  background-color: #f9f9f9;
}

.row:hover {
  background-color: #e9ecef;
  transition: background-color 0.3s;
}

.sortableHeader {
  position: relative;
  cursor: pointer;
}

.sortIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.sortIcon:hover {
  background-color: #f0f0f0;
}

.sortedHeader {
  border-bottom: 2px solid #007bff;
  background-color: #f1f8ff;
}

.sortedCell {
  background-color: #f1f8ff;
}

/* 첫 번째 칼럼의 너비 늘리기 */
.headerCell:first-child,
.cell:first-child {
  width: 150px; /* 원하는 너비로 조정 */
}

.headerCell:nth-child(n+2),
.cell:nth-child(n+2) {
  width: 120px; /* 칼럼 너비 증가 */
}

/* 마지막 열의 경계선 제거 */
.headerCell:last-child,
.cell:last-child {
  border-right: none;
}
