.tableContainer {
  width: 95vw;
  margin: 0 auto;
	overflow-x: auto;
}

.tableScrollContainer {
	
}

.headerRow {
  display: flex;
}

.row {
  display: flex;
}

.headerCell,
.cell {
  flex-shrink: 0;
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	width: 5vw;
}

.headerCell {
  text-align: left; /* 헤더 셀은 왼쪽 정렬 */
  font-size: 14px;
  font-weight: bold;
  color: #555;
  background-color: #f8f9fa;
  position: sticky; /* 헤더 고정 */
  top: 0;
  z-index: 1;
	width: 5vw;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: 14px;
  color: #333;
}

/* 첫 번째 칼럼(종목명)은 왼쪽 정렬 및 너비 조정 */
.headerCell:first-child,
.cell:first-child {
  justify-content: flex-start;
  width: 9vw; /* 필요에 따라 너비 조정 */
}

/* 첫 번째 칼럼을 제외한 데이터 셀은 가운데 정렬 */
.cell:not(:first-child) {
  text-align: center;
	width: 5vw;
}




/* 마지막 열의 경계선 제거 */
.headerCell:last-child,
.cell:last-child {
  border-right: none;
}


/* 기타 스타일 유지 */
.row:nth-child(even) {
  background-color: #f9f9f9;
}

.row:hover {
  background-color: #e9ecef;
  transition: background-color 0.3s;
}

.sortableHeader {
  position: relative;
  cursor: pointer;
}

.sortIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.sortIcon:hover {
  background-color: #f0f0f0;
}

.sortedHeader {
  border-bottom: 2px solid #007bff;
  background-color: #f1f8ff;
}

.sortedCell {
  background-color: #f1f8ff;
}
