.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.leftSection {
  width: 40%;
  margin-left: 20%; 
}

.rightSection {
  width: 40%;
  margin-right: 15%;
}

.divider {
  width: 1px;
  background-color: #e1e1e1;
  height: 100%;
}

