.dropdownContainer {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.arrowUp {
  transform: rotate(180deg);
}

.arrowDown {
  transform: rotate(0deg);
}

.dropdownMenu {
  width: 100%; /* 부모 컨테이너의 너비를 기준으로 고정 */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease; /* max-height에만 트랜지션 적용 */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0 10px; /* 열리지 않은 상태에서 패딩 제거 */
  box-sizing: border-box; /* 패딩과 border가 width에 포함되도록 설정 */
}

.dropdownMenu.open {
  max-height: 1000px; /* 충분히 큰 값으로 설정 */
  padding: 10px; /* 열린 상태에서 패딩 추가 */
}

.dropdownItem {
  margin: 5px 0;
  font-size: 18px;
}
